.header{
  &-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px $cl-black;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: $cl-secondary;
    z-index: 1000;
  }
  &__nav-link{
    text-decoration: none;
    color: $cl-white;
    margin: 0 1rem;
    &:last-child{
      margin-right: 2rem;
    }
  }
}