@import './globals/color.scss';
@import './common/header.scss';
@import './common/section.scss';
@import './common/icon.scss';
@import './common/page-error.scss';

body {
  margin: 0;
  padding: 0;
  // font-family: "Courier New", Courier, monospace;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: gray;
  scroll-behavior: smooth;
}

.content{
  margin: 0;
  // padding-top: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
  background-color:$cl-black;
  display: flex;
  // background-image: url("https://i.ibb.co/m68mFcH/image.png");
  background-image: url("https://i.ibb.co/715KyNJ/Componente-15-1.png");
  background-size: 2rem;
}
// .container {
//   width: 80%;
//   min-height: 100vh;
//   margin: 0 auto;
//   background-color: whitesmoke;
//   display: flex;
//   padding: 0 16px;
//   flex-direction: column;
// }

// .button {
//   padding: 8px;
//   text-decoration: none;
//   border: 1px solid gray;
//   border-radius: 15px;
//   color: gray;
//   margin: 8px 0;
//   cursor: pointer;
//   &:hover {
//     color: whitesmoke;
//     background-color: gray;
//   }
//   &:focus {
//     outline: none;
//     background-color: gray;
//     color: whitesmoke;
//   }
//   &:disabled {
//     background-color: gray;
//     color: #5a5a5a;
//     cursor: default;
//   }
// }

// .nav-link {
//   display: inline-block;
//   color: gray;
//   padding: 8px;
//   width: 150px;
//   text-decoration: none;
//   &:hover {
//     background-color: #5a5a5a;
//     color: whitesmoke;
//   }
//   &--active {
//     color: whitesmoke;
//     background-color: gray;
//   }
// }

// .page-error {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   &__message {
//     font-size: 1.5em;
//   }
//   &__code {
//     font-size: 10em;
//   }
// }

// .table {
//   text-align: center;
//   & th {
//     height: 24px;
//   }
//   &__link {
//     color: gray;
//     text-decoration: none;
//     &:hover {
//       color: #5a5a5a;
//     }
//   }
// }

// .services-page {
//   &__button {
//     width: 20%;
//   }
//   &__table {
//     text-align: center;
//   }
// }

// .form {
//   display: flex;
//   flex-direction: column;
//   margin: 0 auto;
//   & input,
//   & select {
//     min-width: 200px;
//     max-width: 300px;
//     width: 100%;
//     height: 24px;
//     box-sizing: content-box;
//     margin: 8px 0;
//     padding: 8px;
//   }
// }
